body{ 
    background-color:rgb(4, 27, 34);
    color: white;
    font-family: "Itim", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color:black;
    color: White;
    font-family: "Itim", cursive;
}

.passo {
    display:none;
}

.passo.ativo{
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 70%;
}